*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #0d1117;
}

body a {
  text-decoration: none;
}

body img {
  width: 100%;
  border-radius: 6px;
}

body .container {
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 2rem;
}

body header {
  background-color: #282c31;
}

body .header {
  padding: 1.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .header .logo {
  color: #c9d1d9;
}

body .header h2 {
  font-weight: 600;
}

body .event_header {
  padding: 2rem 0 3rem 0;
  text-align: center;
  font-size: 2.5rem;
  color: #58a6ff;
}

body .img_div {
  max-width: 35rem;
  margin: 0 auto;
}

body .img_div p {
  padding: 2rem 0;
  font-size: 1.2rem;
  font-weight: 300;
  color: #58a6ff;
  text-align: center;
  border-bottom: 1px solid #575151;
}

body .footer {
  padding: 1rem 0 3rem 0;
  text-align: center;
}

body .footer h2 {
  padding: 1rem 0;
  color: #c9d1d9;
}

body .primary {
  margin-right: 1rem;
}

body .main_sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .main_sec aside {
  height: 85vh;
  padding: 2rem;
  width: 30%;
  color: #c9d1d9;
}

body .main_sec aside h2 {
  padding: 0.7rem 0;
  font-size: 1.3rem;
}

body .main_sec aside .search {
  border-bottom: 1px solid #575151;
  padding-bottom: 1.5rem;
  text-align: center;
}

body .main_sec aside .category {
  border-bottom: 1px solid #575151;
  padding-bottom: 1.5rem;
}

body .main_sec aside .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .main_sec .list_sec {
  width: 70%;
  padding: 0 2rem 0 0;
}

body .main_sec .list_sec h2 {
  color: #c9d1d9;
  text-align: center;
  margin: 3rem 0 1rem 0;
  border: 1px solid #575151;
  border-radius: 7px;
  padding: 0.7rem 0;
}

body .main_sec .list_sec .line {
  border: none;
  border-top: 1px solid #575151;
}

body .form {
  background-color: #f78166;
  margin: 0 auto;
  max-width: 30rem;
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 7px;
}

body .form h2 {
  text-align: center;
}

body .form .input_handle {
  display: block;
  width: 100%;
  margin: 0.7rem 0;
  padding: 0.5rem;
  border-radius: 7px;
  border: none;
  outline: none;
}

.btn {
  display: inline-block;
  border: none;
  outline: none;
  font-size: 1.1rem;
  padding: 0.6rem 1.2rem;
  border-radius: 7px;
}

.btn_primary {
  background-color: green;
  color: #c9d1d9 !important;
}

.btn_sec {
  background-color: #282c31;
  color: #c9d1d9;
  border: 1px solid #575151;
}

.btn_sec :hover {
  background-color: red;
  border: 1px solid white;
}

.btn_ter {
  border: 1px solid #8957e5;
  color: #8957e5;
  padding: 0.4rem 0.9rem;
  margin: 0.3rem;
}

.btn_sub {
  background-color: #238636;
  color: #c9d1d9;
}
/*# sourceMappingURL=style.css.map */