<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header">
          <a href="/">
            <h2 class="logo">EVENT MANAGEMENT</h2>
          </a>
          <div>
            <a class="btn btn_primary primary" href="/">Home</a>
            <a class="btn btn_primary" href="/events">Back</a>
          </div>
        </div>
      </div>
    </header>
    <div class="form form_event">
      <h2>Edit Remark</h2>
      <form action="/remarks/<%= remark.id %>" method="POST">
        <textarea
          class="input_handle"
          type="text"
          rows="3"
          name="text"
          placeholder="Add Remark"
        >
 <%= remark.text %></textarea
        >
        <button type="submit" class="input_handle btn_sub">
          Update Remark
        </button>
      </form>
    </div>
  </body>
</html>
